#page-form {
  font:700 2.4rem Archivo;
  margin-bottom: 2.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-bottom: 1.6rem;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
}
#page-form h1{
  font-family: Roboto Condensed;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 56px;
text-align: center;
margin: 50px;
}

#page-form  form{
  background-color: #AE7136;
  padding: 50px;
  border-radius: 20px;
}
#page-form input{
  padding: 10px;
  max-width: 500px;
  margin: 20px;
  width: 400px;

  border-radius: 12px;
  border: none;
}

#page-form input::selection{
  border: none;
}

#page-form button{
  padding: 20px 10px;
  background-color:#88DB36;
  align-self: center;
  border-radius: 15px;

}

#container-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  

}
#container-btn button{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  margin: 20px;
  padding: 15px 40px
}
